.flex-container {
  display: flex;
  flex-direction: column;
}

.input {
  width: 30%;
}

.button-flex-container{
  display: flex;
  flex-direction: row;
}

.hardiness-results{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}