.hardinessForm {
  display: flex;
  flex-direction: column;
}

.hardinessFormInput {
  width: 30%;
}

.hardinessButtons {
  display: flex;
  flex-direction: row;
}

.hardinessResults {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
