.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 30%;
}

.button {
  display: flex;
  flex-direction: row;
}

.hardinessResults {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
