.body {
  background-color: #8ed9ac;
  font-family: "Poppins", sans-serif;
  color: #222;
  height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  color: #1f2937;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
