.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  flex-grow: 8;
  align-items: center;
}

.side {
  display: flex;
  flex-direction: row;
}
