.app {
  min-height: 100vh; /* full screen height */
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

body.light {
  background-color: #f9fafb;
}

body.dark {
  --bg: #1e1e1e;
  --text: #ffffff;
}
